/*! * Hoteles Hesperia * For details, see http://www.apache.org/licenses/LICENSE-2.0. */
html,body
{
    height:100%;
    background-color:#fff
}
    img
{
    border:0
}
.navbar
{
    background-color:#333;
    margin-bottom:0;
    z-index:9999
}
.navbar-default
{
    border-color:#333;
    background-color:#333
}
.navbar-default .navbar-nav > li > a
{
    color:#fff
}
.navbar-default .navbar-nav > li > a:hover
{
    color:#fff
}
.logo-main
{
    margin-top:-14px
}
.logo-hoteles ul li
{
    width:16%;
    margin-top:20px;
    margin-bottom:20px
}
.logo-hoteles ul li img
{
    width:60%
}
.trip-advisor
{
    margin-top:20px
}
div#TA_tchotel924 {
    margin-top: 100px;
    margin-bottom: 120px;
}
div#CDSWIDFRR, div#CDSWIDEXC{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-hover:hover
{
    opacity:.8
}
.about_us
{
    margin-top:0
}
.text-blanco
{
    color:#fff
}
.text-peter
{
    color:#3498db
}
    hr
{
    border:0;
    height:1px;
    background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0))
}
.modal-content.mymod
{
    top:30px
}

header.carousel .item,header.carousel .item.active,header.carousel .carousel-inner
{
    height:100%
}
    header.carousel .fill
{
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover
}
.error-404
{
    font-size:100px
}
.separador
{
    border-top: 500px;
    border-top: solid #4A4A4A
}
.over-slider {
    margin-top: -450px;
    position: inherit;
    right: 20px;
}
.panel-body
{
    padding:10px
}
.ancho-reserva{
    width: 21%;
}
.ancho-reserva-pago{
    width:auto;
}
.panel-reserva {
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    background-color: #E6E6E6;
    z-index: 1;
    position: absolute;
}
.panel-reservados
{
    border:none;
    box-shadow:0 1px 1px rgba(0,0,0,0.25);
    background-color:#E6E6E6;
}
.panel-heading-reservados.text-center {
    color: #fff;
    background-color: #000;
    border-color: #dddddd;
}
.panel-reserva>.panel-heading
{
    color:#fff;
    background-color:#000;
    border-color:#ddd
}
.move-left
{
    left:0;
    right:60%
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
..navbar-collapse{
    border-top-color: transparent;
}
    h1
{
    color:#5a5b5b;
    font-size:22px;
    font-weight:700;
    margin-top:150px;
    font-family:Cabin,sans-serif
}
    h2,h3,h4,h5,h6
{
    color:#5a5b5b;
    font-size:22px;
    font-weight:700;
    font-family:Cabin,sans-serif;
    padding-bottom:8px
}
    p
{
    line-height:20px
}
.stuff
{
    margin-top:22px
}
.fa-3
{
    font-size: 4em
}
.fa-5
{
    font-size:12em
}
.m-button{
    margin-top: 10px;
    padding: 8px 1px
}
.exclamation
{
    color:#ff6347
}
.err
{
    margin-top: 55px
}
.media-center
{
    margin-top:-15px
}
.mediac
{
    margin-top:60px
}
    div#TA_tchotel671
{
    margin-top: 120px
}
.g-prensa
{
    margin-top:-15px
}
.panel-image
{
        position: relative;

}
.panel-image img.panel-image-preview
{
        width: 100%;
        border-radius: 4px 4px 0px 0px;

}
.panel-image label
{
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;

}
.panel-heading ~ .panel-image img.panel-image-preview
{
        border-radius: 0px;

}
.panel-body
{
       overflow: hidden;

}
.panel-image ~ input[type=checkbox]
{
        position:absolute;
        top:- 30px;
        z-index: -1;

}
.panel-image ~ input[type=checkbox] ~ .panel-body
{
        height: 0px;
        padding: 0px;

}
.panel-image ~ input[type=checkbox]:checked ~ .panel-body
{
        height: auto;
        padding: 15px;

}
.panel-image ~ .panel-footer a
{
        padding: 0px 10px;
        font-size: 1.3em;
        color: rgb(100, 100, 100);

}
.pagination>li>a,.pagination>li>span
{
    border-radius:50%!important;
    margin:0 5px
}
.page-title
{
    color:#444;
    text-transform:uppercase
}
.thumbnail
{
    border:0 solid #ddd
}
.hotel-name
{
    border-right:3px solid #000;
    border-color:#fff;
    height:100%;
    clear:both;
    text-shadow:4px 3px 0 #000,9px 8px 0 rgba(0,0,0,0.15)
}
.main-text
{
    color:#fff;
    text-shadow:4px 3px 0 #000,9px 8px 0 rgba(0,0,0,0.15);
    text-transform:capitalize;
    margin-top:300px;
/*    margin-right:10px*/
}
.temperatura
{
    color:#fff;
    text-shadow:4px 3px 0 #000,9px 8px 0 rgba(0,0,0,0.15);
    font-size:15px;
    font-weight:700;
    margin-top:315px;
    margin-left:-22px
}
.TA_tchotel img
{
    width:150px;
    height:100px;
    position:absolute;
/*    top:50%;*/
    left:50%;
    margin-top:-75px;
    margin-left:-75px;
    padding-bottom:20px
}
.TA_tchotel ul
{
    list-style-type:none
}
.page-panel
{
    margin-top:20px
}
    select.form-control
{
    font-size:12px
}
.intro-header
{
    background-color:gray;
    background:no-repeat center center;
    background-attachment:scroll;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover;
    margin-bottom:50px;
    height:540px
}
.intro-header .site-heading,.intro-header .page-heading
{
    text-align:center
}
.intro-header .site-heading,.intro-header .post-heading,.intro-header .page-heading
{
    padding:100px 0 50px;
    color:#fff
}
.contact-form
{
    margin-top:15px
}
.contact-form .textarea
{
    min-height:220px;
    resize:none
}
.form-control
{
    box-shadow:none;
    border-color:#eee;
    height:49px
}
.form-control:focus
{
    box-shadow:none;
    border-color:#00b09c
}
.form-control-feedback
{
    line-height:50px
}
.main-btn
{
    background:#00b09c;
    border-color:#00b09c;
    color:#fff
}
.main-btn:hover
{
    background:#00a491;
    color:#fff
}
.form-control-feedback
{
    line-height:50px;
    top:0
}
.credit-card-box .panel-title
{
    display:inline;
    font-weight:700
}
.credit-card-box .form-control.error
{
    border-color:red;
    outline:0;
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6)
}
.credit-card-box label.error
{
    font-weight:700;
    color:red;
    padding:2px 8px;
    margin-top:2px
}
.credit-card-box .payment-errors
{
    font-weight:700;
    color:red;
    padding:2px 8px;
    margin-top:2px
}
.credit-card-box label
{
    display:block
}
.credit-card-box .display-table
{
    display:table;
    width: 100%
}
.credit-card-box .display-tr
{
    display:table-row
}
.credit-card-box .display-td
{
    display:table-cell;
    vertical-align:middle;
    width:100%
}
.credit-card-box .panel-heading img
{
    min-width:180px
}
.img-us
{
    margin-top:50px
}
.panel-u
{
    margin-top:-65px
}
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
/*
.page-title-responsive
{
    margin-top:-280px
}
*/
.navbar-brand
{
    height:0
}
    header.carousel
{
    height:80%
}
.logo-hoteles ul li
{
    width:50%
}
.page-tabs
{
    margin-top:-190px
}

}
    @media(max-width:991px)
{
.customer-img,.img-related
{
    margin-bottom:30px
}

}
    @media(max-width:767px)
{
.img-portfolio
{
    margin-bottom:15px
}
    header.carousel .carousel
{
    height:70%
}

}
    @media only screenand (min-device-width : 768px)and (max-device-width : 1024px)and (orientation : portrait)
{
.page-title-responsive
{
    margin-top:-370px
}

}
    @media only screenand (min-device-width : 800px)and (max-device-width : 1280px)and (orientation : portrait)
{
.page-title-responsive
{
    margin-top:-435px
}

}
.contcookies
{
    position:fixed;
    bottom:0;
    width:100%;
    margin:0;
    padding:20px;
    background:rgba(100,100,100,0.85);
    text-align:center;
    box-shadow:0 -2px 2px #aaa;
    border-top:1px solid #888;
    color:#ccc
}
.contcookies a
{
    text-decoration:none;
    color:#dd6!important
}
.contcookies a.cookiesaceptar
{
    padding:4px;
    font-size:90%;
    border:1px solid #ccc;
    border-radius:3px;
    background:#ddd;
    color:#294!important;
    font-weight:700;
    text-shadow:none
}
.servicios
{
    margin:10px auto
}
.service_block
{
    padding-left:15px;
    padding-right:15px;
    position:relative;
    height:350px
}
.service_block h3
{
    text-align:center;
    font-family:'Raleway',sans-serif;
    font-weight:600;
    font-size:25px;
    color:#999;
    margin:10px 0 15px
}
.service_block p
{
    font-size:16px;
    color:#333;
    margin:0 0 35px;
    text-align:justify
}
.service_block img
{
    margin:0 auto
}
.info
{
    margin-top:8px;
    text-align:right;
    font-size:12px
}
.info a
{
    color:#333;
    text-decoration:none
}
.info a:hover
{
    color:#000;
    text-decoration:none
}
.cuadro
{
    padding:5px 8px 10px 10px;
    border:1px solid #BDBEC2;
    margin:5px auto;
    height:auto;
    border-radius: 10px
}
.cuad
{
    padding:5px 8px 10px 10px;
    border:1px solid #BDBEC2;
    margin:5px auto;
    height:auto;
    border-radius: 10px
}

.cuadri
{
    padding:5px 8px 10px 10px;
    border:1px solid #BDBEC2;
    margin:5px auto;
    height:auto;
    border-radius: 10px
}

.square
{
    padding:5px 8px 10px 10px;
    border-top:1px solid #BDBEC2;
    border-right:1px solid #BDBEC2;
    margin:5px auto;
    height:auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
}
.img-thumbnail
{
    margin: 2px;
    padding: 0px
}
    img.s-prensa
{
    width: 250px
}
.portfolio-item {
    margin-bottom: 25px;
}
.down{
    margin-top: 40px
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
/*    color: #fff;*/
     background-color:transparent;
}
.nav-pills.nav-wizard > li {
  position: relative;
  overflow: visible;
  border-right: 15px solid #fff;
  border-left: 15px solid #fff;
}
.nav-pills.nav-wizard > li:first-child {
  border-left: 0;
}
/*
.nav-pills.nav-wizard > li:first-child a {
  border-radius: 5px 0 0 5px;
}
*/
.nav-pills.nav-wizard > li:last-child {
  border-right: 0;
}
/*
.nav-pills.nav-wizard > li:last-child a {
  border-radius: 0 5px 5px 0;
}
*/
.nav-pills.nav-wizard > li a {
  border-radius: 0;
  background-color: #eee;
}
.nav-pills.nav-wizard > li .nav-arrow {
  position: absolute;
  top: 0px;
  right: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent #eee;
  z-index: 150;
}
.nav-pills.nav-wizard > li .nav-wedge {
  position: absolute;
  top: 0px;
  left: -20px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 0 21px 20px;
  border-color: #eee #eee #eee transparent;
  z-index: 150;
}
.nav-pills.nav-wizard > li:hover .nav-arrow {
  border-color: transparent transparent transparent #eee;
}
.nav-pills.nav-wizard > li:hover .nav-wedge {
  border-color: #eee #eee #eee transparent;
}
.nav-pills.nav-wizard > li:hover a {
  background-color: #eee;
  color: #2E2E2E;
}
.nav-pills.nav-wizard > li.active .nav-arrow {
  border-color: transparent transparent transparent #A4A4A4;
}
.nav-pills.nav-wizard > li.active .nav-wedge {
  border-color: #A4A4A4 #A4A4A4 #A4A4A4 transparent;
}
.nav-pills.nav-wizard > li.active a {
  background-color: #A4A4A4;
}

.input-recaptcha{
 width:172px;   
}

.datepicker{z-index:1151 !important;}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px; /*--Set height of tabs--*/
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px; /*--Subtract 1px from the height of the unordered list--*/
    line-height: 31px; /*--Vertically aligns the text within the tab--*/
    border: 1px solid #999;
    border-left: none;
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;
    background: #e0e0e0;
}
ul.tabs li a {
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 1.2em;
    padding: 0 20px;
    border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
    outline: none;
}
ul.tabs li a:hover {
    background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not
        listen to the hover properties--*/
    background: #fff;
    border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with
        its content--*/
}

.tab_container {
    border: 1px solid #999;
    border-top: none;
    overflow: hidden;
    clear: both;
    float: left; width: 100%;
    background: #fff;
}
.tab_content {
    padding: 20px;
    font-size: 1.2em;
}
