.pgwSlideshow ul{
  -webkit-padding-start: 0px;
}


.alert-simadi {
    color: black;
    background-color: #DBDBDB;
    border-color: #AFAFAF;
}

.portada-span{
    display: none;
}

#myCarousel .carousel-caption{
    left:0;
    text-align: left;
    margin-left: 25px;
}

#myCarousel, #myCarousel .item{
    height: auto;
}

.no-space{
    padding: 0;
}
.pdf-thumb-box {
  display: inline-block !important;
  position: relative !important;
  overflow: hidden;
}
.pdf-thumb-box-overlay {
  display: none;
}

.hover-overlay{
  display: inline;
  text-align: center;
  position: absolute;
  transition: background 0.2s ease, padding 0.8s linear;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.pdf-thumb-box-overlay span {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pdf-thumb-box-overlay h2{
    margin-top:25%;

}
#my-reserva{
  position: absolute;
  z-index: 1 !important;
  
}

#myCarousel{
  //z-index: -1;
}

.navbar{
  margin-bottom: 0px;
}

.carousel-hab .featurette-heading{
  margin-top: 40px;
}
#carousel-example-generic{
  height: auto;
}
.carousel-hab, .carousel-hab .carousel-inner, .carousel-hab .item{
    height: 400px;
  }

@media(max-width:767px){
   .carousel-hab, .carousel-hab .carousel-inner, .carousel-hab .item{
    height: auto;
    //min-height: 400px;
  }
}
  .bg {
  background: url('/hoteles/banner.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

.divider {
    height:50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
    color:#fff;
}

#bitPagoButtonF, #bitPagoButtonFPaq{
  background-image: url('https://hoteleshesperia.com.ve/img/pagar_green.png');
    display: inline-block;
    float: right;
    background-size: 100%;
    background-repeat: no-repeat;

    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: transparent;
    border: none;
    background-color: transparent;
    width: 172px;
    height: 62px;
}
#botonFalso{
  padding: 0;
}

  @media screen and (max-width: 768px) {
    .side-collapse-container{
      width:100%;
      position:relative;
      left:0;
      transition:left .4s;
    }
    .side-collapse-container.out{
      left:200px;
    }
    .side-collapse {
      top:45px;
      bottom:0;
      left:0;
      width:200px;
      position:fixed;
      overflow:hidden;
      transition:width .4s;
    }
    .side-collapse.in {
      width:0;
    }
    .navbar-nav>li>a{
      margin-left: 5%;
    }
}

@media (min-width: 992px){
  .featurette-heading {
      margin-top: 0px;
  }
}

#menu-hesperia{
  background: #333333;
}

