*, *:before, *:after {
  box-sizing: border-box;
}
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.slider-p{
    margin: 5px;
    width:250px;height:150px
}
.boton-del {
  margin-left: 200px;
}
.fa-3 {font-size: 4em;}
.fa-5{font-size:12em}
.exclamation{color:#ff6347}
.err {margin-top: 55px;}

select {
    width: 137px;
    height: 50px;
    border: 0;
    background-color: transparent;
    color: #4d4d4d;
    font-size: 22px;
    padding: 10px 0 5px 6px;
    cursor:pointer;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
img.media-object.eventos {
   width: 100px;
}
.SobiPro .bootstrap-datetimepicker-widget dropdown-menu {display: block;
    left: 195.5px !important;
    position: absolute !important;
    right: auto !important;
    top: 554.3px !important;}
.SobiPro .dropdown-menu {display: block;
    left: 195.5px !important;
    position: absolute !important;
    right: auto !important;
    top: 554.3px !important;}
