#owl-demo .item img{
    display: block;
    width: 100%;
}

#slider-index .item{
  height: 94vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
   display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
   -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
  text-align: center;
}
#slider-index{
//  background: #25AAE1;

}
#restaurantes-index {
    background: url('../images/dish-918613_1280.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-bottom: 7rem;
}

#atrapame {
    background: url('../images/atrapame.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 7rem;
    padding-bottom: 7rem;
    color:white;
    font-color:white;
}

#paquetes-index{
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#hoteles-index{
  padding-top: 3rem;
  padding-bottom: 7rem;
}

#complementos-index{
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#caja-reserva{
  background: #25AAE1;
  padding-top: 3rem;
  padding-bottom: 7rem;
  color: white;
}

#caja-reserva .input-group, #caja-reserva .form-group{
  padding: 0px 18px;
}

#overview-hotel, #galeria-hotel, #spa-overview, #servicios-hotel{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

 #maps-hotel{
  padding-bottom: 7rem;
}

.boton-bg{
  //background: transparent;
  border: 2px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 14px 42px;
  margin-top: 42px;
  margin-right: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#restaurant_hotel_slider{
  color:white;
  //padding-top: 14rem;
  //padding-bottom: 14rem;
  -webkit-backdrop-filter: blur(1px) grayscale(0.4);
}
#restaurant_hotel_slider .content-text{
  height: 100%;
  background: rgba(0,0,0,.6);
}

.full-width{
  //background-attachment: fixed !important;
  background-size: cover !important;
}

#intro-restaurant, #banner-servicios, #banner-lista-hoteles{
  //background: url('http://localhost/hesperia_oct/storage/app/media/img2.jpg') 50% 0 repeat-y fixed;
  //background-image: url('/hesperia_oct/storage/app/uploads/public/582/171/95c/58217195cef80213089719.png');
  height: 50vh;

}

#intro-restaurant, #banner-servicios, #banner-reserva-hab{
  height: 40vh;
}
#intro-hotel{
  height: 100vh;
}

.intro-parallax{
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
   display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
   -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
  text-align: center;
}

#caja-reserva-restaurant{
  //background: #f9f9f9;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.seccion-menu{
  height: 250px;
}

.seccion-menu h3{
  padding-top: 8%;
  color: rgb(255, 255, 255);
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-size: 54px;
  font-weight: 800;
  font-style: normal;
  text-transform: none;
}

.seccion-menu h5{
  color: rgb(255, 255, 255);
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
  text-transform: none;
}

.plato-body{
  border: 1px solid #ddd;
  border-radius: 5px;
}
.plato-container{
  padding: 0;
  padding-top: 15px;
  padding-right: 5px;
}
.seccion-restaurant{
  padding-bottom: 5rem;
}

#recomendados{
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
}
#recomendados h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

#recomendados h6 {
  color: #666;
  margin-top: 4px;
}

#recomendados img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#recomendados .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}
#lista-lugares, #list-post-aside{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#lista-lugares .col-md-6{
  //padding: 0;
  //margin: 0;
}
#tab-hoteles h4{
  color: #f2545f;
}

#servicios-hotel .titulo-servicio h4, #complementos-index h4{
  color: white;
  position: relative;
  top: -38px;
  padding: 4px;
  width: 100%;
  background: rgba(0,0,0,.6);
}

.titulo-servicio{
}

.thumb-container, .thumb-container .thumbnail{
  margin: 0;
  padding: 0;
  border: 0;
}
#novedades-container{
  background: #f9f9f9;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
#novedades-container .caption{
  background: #f9f9f9;
}

.h-blue{
  color: #01A1DD;
}

.h-blue-bg{
  background: #01A1DD;
}

.no-padding{
  padding: 0;
}

.complemento-half{
  height: 200px;
  padding: 10px 15px;
}

#atrapame-index{
  margin-top: 8px;
  //border: 3px solid #eee;
}

#eventos-index{
  background: #222;
  color: #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  //background-image: url("http://localhost/hesperia_oct/storage/app/media/tests/eventos-bg.png");
}
#eventos-carousel .owl-pagination .owl-page span{
  color:white;
  background: white;
}

#dates-bar{
  margin-bottom: 1.5%;
  background: #e5e5e5;
  padding: 15px 5px;
}
.hab-list-titulo{
  margin-top: 0;
  margin-bottom: 8px;
  padding-bottom: 10;
  border-bottom: 1px solid #f2f2f2;
}
.hab-list-reservacion{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hab-list-reservacion .hab-li{
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #f2f2f2;
  //font-size: 8px;
}
.precio-hab{
  background: green;
  color: white;
  font-weight: normal;
  margin-top: 10px;
  padding: 10px 15px;
}
section.text-center button {

  border-radius: 0px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 14px 35px;
  margin-top: 42px;
  //margin-right: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

section.text-center .detalle{
  background: #ffffff;
  border: 2px solid #000;
  color: #000;
}

section.text-center .add{
  background: #346392;
  border: 2px solid #346392;
  color: #ffffff;
}

section.text-center .detalle:hover,
section.text-center .detalle.hover {
  border-color: #ffffff;
  color: #fff;
  background: #000;
}
section.text-center .add:hover,
section.text-center .add.hover {
  background: #27496d;
  //color: #27496d;
}


.resumen-reserva{
  position:fixed;
  bottom:0;
  z-index: 1;
}
