<!DOCTYPE html>
<html lang="en">
<head>
<!--
New Event
http://www.templatemo.com/tm-486-new-event
-->
<title>Hesperia Hotels & Resorts </title>
<meta name="description" content="">
<meta name="author" content="">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/animate.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.carousel.css">

<!-- Main css -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/principal.css">


<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600' rel='stylesheet' type='text/css'>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCZylRj0lhbpYyZuVv8grqcizQAVQyCFXQ">
</script>
<script src="js/gmaps.js"></script>

</head>
<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

<!-- =========================
     PRE LOADER
============================== -->
<div class="preloader">

	<div class="sk-rotating-plane"></div>

</div>


<!-- =========================
     NAVIGATION LINKS
============================== -->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">

		<!-- navbar header -->
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Hesperia Venezuela</a>
		</div>

		<div class="collapse navbar-collapse">

			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="#intro2" class="smoothScroll">Home</a></li>-->
				<li><a href="https://hoteleshesperia.com.ve/preview" class="smoothScroll">Inicio</a></li>
				<li><a href="#noticia" class="smoothScroll">Hoteles</a></li>
				<li><a href="#th-experience" class="smoothScroll">Paquetes</a></li>
				<li><a href="#speakers" class="smoothScroll">Restaurantes</a></li>
				<li><a href="#activos" class="smoothScroll">Blog</a></li>
			</ul>

		</div>

	</div>
</div>

<section id="intro-hotel" class="full-width intro-parallax" style="background-image: url('images/slider-wtc.jpg')">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
              <!--  <h3 class="wow bounceIn" data-wow-delay="0.9s">{hotel}</h3>-->
                <h1 class="wow fadeInUp" data-wow-delay="1.6s">Hesperia WTC Valencia</h1>
              <!--  <a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">LEARN MORE</a>-->
              <!--  <a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a>-->
            </div>
        </div>
    </div>
</section>

<div id="overview-hotel">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="col-md-12">
          <h2 class='section-header text-theme-1'>Bienvenido</h2>
        <p>Hesperia WTC Valencia Hotel & Convention Center, de categoría superior, pertenece a la reconocido Grupo Hotelero NH Hotels , con presencia en 27 paí­ses, siendo uoa de las más grandes en España y el quinto de Europa en la categoria de negocios.</p>
        </div>
        <div class="col-md-12">
          <div class="media">
              <div class="pull-left">
                  <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x text-theme-1"></i>
                      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Centro de Convenciones</h4>
                <p>Disfruta de los mejores eventos de país con nosotros</p>
              </div>
          </div>

          <div class="media">
              <div class="pull-left">
                  <span class="fa-stack fa-2x">
                      <i class="fa fa-circle fa-stack-2x text-theme-1"></i>
                      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                  </span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Salon VIP</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
              </div>
          </div>

        </div>

      </div>
      <div class="col-md-6">
        <!--<img src="{{hotel.foto_inicio.path}}" class="img-responsive"></a>-->
        <div class='embed-responsive embed-responsive-16by9'>
            <iframe class='embed-responsive-item'
              src="//www.youtube.com/embed/fajOQQ-ZIiI">
            </iframe>
        </div>
        <br>
        <br>
        <!--<h3 class="text-center"><a class="btn btn-danger" href="#">Ver Ficha Técnica</a></h3>-->
      </div>
    </div>
  </div> <!-- CONTAINER -->
</div> <!-- WELCOME -->


<section class="parallax-section" id="tab-hoteles">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.6s">
                <div class="section-title">
                    <h2>Nuestro Hotel</h2>
                    <p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt metus sed eleifend suscipit.</p>
                </div>
            </div>

            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.9s">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#informacion" aria-controls="informacion" role="tab" data-toggle="tab">Información</a></li>
                  <!--  <li><a href="#caracteristicas" aria-controls="el_hotel" role="tab" data-toggle="tab">Caracteristicas</a></li>-->
                    <li><a href="#habitaciones" aria-controls="habitaciones" role="tab" data-toggle="tab">Habitaciones</a></li>
                </ul>
                <!-- tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active col-md-12" id="informacion">
                      <h4>Vive en grande en el mejor hotel de Valencia</h4>
                      <p style="text-align: justify;">El hotel de 15 pisos cuenta con 325 lujosas habitaciones, todas con aislamiento acústico que las mantiene en un ambiente de silencio y tranquilidad absoluto, único en su estilo y dimensiones. Estratégicamente ubicado en la Av. Salvador Feo La Cruz, a tan solo 15 minutos del Aeropuerto Internacional Arturo Michelena y a 30 minutos de la ciudad de Puerto Cabello, es idóneo para el descanso, reuniones de ocio en sus espacios comunes o de negocios en sus salones y planta &nbsp;ejecutiva. El equipamiento &nbsp;de las habitaciones incluye: lujosa ropa de cama y &nbsp;una amplia variedad de comodidades, como Wi-Fi, televisión LCD y Minibar. Dispone de servicio de Room Service las 24 horas, servicios de restauración y bar terraza para cubrir todas las necesidades.</p>

                    </div>
                
                    <div role="tabpanel" class="tab-pane" id="habitaciones">
                      <div id="owl-demo3" class="owl-carousel owl-theme">
  
                          <div class="item">
                            <div class="col-md-6 col-sm-2">
                                <img src="images/wtc-hab-1.jpg" class="img-responsive" alt="program">

                            </div>
                            <div class="col-md-6 col-sm-10">
                                <h3>Deluxe Cama King</h3>
                                <p>Ubicadas en un ala especial del hotel, las habitaciones Deluxe (Cama King) disponen de un área de 33 m². con grandes ventanales y excelentes vistas con una acertada combinación de colores cálidos y un estilo moderno que crean un ambiente acogedor en su estancia. Las habitaciones disponen de acceso Wi-Fi a Internet, minibar, caja fuerte electrónica, televisión LCD de alta definición y un lujoso baño con ducha de hidromasaje, secador de cabello profesional y amenidades de lujo.</p>
                                <p class="text-center">
                                  <a href="#" class="btn btn-primary">Reservar</a>
                                </p>
                            </div>
                          </div>
                          
                          <div class="item">
                            <div class="col-md-6 col-sm-2">
                                <img src="images/wtc-hab-2.jpg" class="img-responsive" alt="program">

                            </div>
                            <div class="col-md-6 col-sm-10">
                                <h3>Deluxe 2 Cama Twing</h3>
                                <p>Ubicadas en un ala especial del hotel, las habitaciones Deluxe (Cama King) disponen de un área de 33 m². con grandes ventanales y excelentes vistas con una acertada combinación de colores cálidos y un estilo moderno que crean un ambiente acogedor en su estancia. Las habitaciones disponen de acceso Wi-Fi a Internet, minibar, caja fuerte electrónica, televisión LCD de alta definición y un lujoso baño con ducha de hidromasaje, secador de cabello profesional y amenidades de lujo.</p>
                                <p class="text-center">
                                  <a href="#" class="btn btn-primary">Reservar</a>
                                </p>
                            </div>
                          </div>
                      </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>


<div id="galeria-restaurant">
  <div class="container">
    <h2 class="section-header">Galeria</h2>
    <p>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt metus sed eleifend suscipit.</p>
    <div class="col-md-12">
      <div id="owl-galeria-hotel" class="owl-carousel carousel-con-modal">
      
      <div class="item" data-index='1'><img class="lazyOwl img-responsive"
         data-src="images/galeria/wtc1.jpg" src="images/galeria/wtc1.jpg" alt="Lazy Owl Image">
      </div>

      <div class="item" data-index='2'><img class="lazyOwl img-responsive"
         data-src="images/galeria/wtc4.jpg" src="images/galeria/wtc4.jpg" alt="Lazy Owl Image">
      </div>

      <div class="item" data-index='3'><img class="lazyOwl img-responsive"
         data-src="images/galeria/wtc3.jpg" src="images/galeria/wtc3.jpg" alt="Lazy Owl Image">
      </div>
      <div class="item" data-index='4'><img class="lazyOwl img-responsive"
         data-src="images/galeria/wtc6.jpg" src="images/galeria/wtc6.jpg" alt="Lazy Owl Image">
      </div>
    </div>
   </div>
 </div>

   <div class="modal fade" role="dialog" id="modal-owl-galeria">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div id="owl-galeria-hotel-modal" class="owl-carousel">
        <div class="item" ><img class="lazyOwl img-responsive"
           src="images/galeria/wtc1.jpg" alt="Lazy Owl Image">
        </div>

        <div class="item" ><img class="lazyOwl img-responsive"
           src="images/galeria/wtc4.jpg" alt="Lazy Owl Image">
        </div>

        <div class="item" ><img class="lazyOwl img-responsive"
           src="images/galeria/wtc3.jpg" alt="Lazy Owl Image">
        </div>

        <div class="item" ><img class="lazyOwl img-responsive"
           src="images/galeria/wtc6.jpg" alt="Lazy Owl Image">
        </div>

        </div>
        <a class="left carousel-control" href="#" role="button" data-slide="prev">
          <span class="fa glyphicon glyphicon-chevron-left fa-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#" role="button" data-slide="next">
          <span class="fa glyphicon glyphicon-chevron-right fa-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid" id="novedades-container">
  <div class="container">
    <h2>Novedades</h2>
    <p>Entérate de lo más reciente que Hoteles Hesperia tiene preparado para ti</p>
  </div>
  <div id="novedades-carousel">
    <div class="col-xs-12 col-sm-12 col-md-12 thumb-container item">
      <div class="thumbnail">
        <img src="images/novedades/luna.jpg" alt="">
          <div class="caption">
            <h4 class="text-center">Noches de Luna en Valencia</h4>
            <p class="text-center">En el Rio's Scotch Bar todos los viernes junto a Selektor-G y DJ Javier Belandria</p>
            <p class="text-center">
              <a href="#" class="btn btn-primary" role="button">Leer Más</a>
            </p>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 thumb-container item">
      <div class="thumbnail">
        <img src="images/novedades/spa.jpg" alt="">
          <div class="caption">
            <h4 class="text-center">Spa Hesperia WTC Valencia</h4>
            <p class="text-center">Vive una experiencia inolvidable,relajante y fabulosa en nuestro Spa</p>
            <p class="text-center">
              <a href="#" class="btn btn-primary" role="button">Leer Más</a>
            </p>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 thumb-container item">
      <div class="thumbnail">
        <img src="images/novedades/brunch.jpg" alt="">
          <div class="caption">
            <h4 class="text-center">Brunch dominical en Valencia</h4>
            <p class="text-center">Ven a disfrutar de los mas frescos y deliciosos platos de Valencia en nuestro Hotel</p>
            <p class="text-center">
              <a href="#" class="btn btn-primary" role="button">Leer Más</a>
            </p>
            </div>
        </div>
      </div>
  </div>
</div>

<div class="container" id ="servicios-hotel">
  <h2>Servicios</h2>
  <p>Lorem ipsum dolor sit amet, sunt in culpa qui officia deserun</p>
  <div class="col-md-12">
      <div class="col-md-6 col-sm-6">
        <a href="#" class="titulo-servicio">
          <img class="img-responsive" style="width:100%" src="images/servicios/serv-wtc-1.jpg">
          <h4 class="pull-left">Bodas en Valencia</h4>
        </a>
      </div>
      
      <div class="col-md-6 col-sm-6">
        <a href="#" class="titulo-servicio">
          <img class="img-responsive" src="images/servicios/serv-wtc-2.jpg">
          <h4 class="pull-left">Coffee Corner</h4>
        </a>
      </div>

      <div class="col-md-6 col-sm-6">
        <a href="#" class="titulo-servicio">
          <img class="img-responsive" src="images/servicios/serv-wtc-3.jpg">
          <h4 class="pull-left">Salon VIP</h4>
        </a>
      </div>
  </div>
</div>

<div id="restaurant_hotel_slider" class=" owl-carousel">
  <div class="item full-width" style="background-image:url('images/dish-918613_1280.jpg'); height:450px; background-position:center
  ;background-repeat:no-repeat;">
  <!--  <div class="col-md-12" style="height:300px;">-->
    <div class="container-fluid content-text" style="padding-top: 10rem; padding-bottom: 10rem;">
      <div class="container col-md-8">
        <h2>Restaurante Atmósfera</h2>
        <h5 class="text-justify">La amplitud del Restaurante Atmósfera en Hesperia WTC así como su majestuoso ventanal con vista a la piscina, le invita a disfrutar de la amplia variedad gastronómica del Desayuno Buffet, Almuerzos y Cenas buffet, además del Brunch Dominical. También es el lugar dónde celebramos a diario las cenas temáticas.</h5>
        <strong>Dirección: Av. Salvador Feo la Cruz, parcela Nro. SN</strong>
        <p class="text-left"><a class="btn btn-danger" href="#">Visitar</a></p>
      </div>
    <!--</div>-->
    </div>
  </div>
  {%endfor%}
</div>

<div class="container-fluid" id="map-section">
  <div class="container">
    <div class="col-md-12">
      <p class="text-center">
        <h2 class="text-center">Dirección</h2>
      </p>
      <p class="text-center"><i class="fa fa-map-marker" aria-hidden="true"></i>
         Av. Salvador Feo la Cruz, casa parcela Nro. SN Naguanagua, Edo. Carabobo. Naguanagua - Carabobo - Venezuela
      </p>
      <div class="col-md-12">
        <div class="form-inline text-center">
          <div class="form-group">
            <label for="exampleInputName2">Cómo llegar </label>
            <input type="text" class="form-control" id="autocomplete">
          </div>
          <hr>
        </div>
      </div>

    </div>
    <div class="col-md-12" id="map" style="height:300px;">

      <script>
        var itemCoord = {lat:10.234158, lng:-68.005102};
        var directionsDisplay;


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: itemCoord,
          scrollwheel: false,
        });
        var marker = new google.maps.Marker({
          position: itemCoord,
          map: map,
          title: 'Av. Salvador Feo la Cruz, casa parcela Nro. SN Naguanagua, Edo. Carabobo. Naguanagua - Carabobo - Venezuela'
        });
      //}
      /*var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: {{item.latitud}}, lng: {{item.longitud}}},
        zoom: 13
      });*/

      var marker_autocomplete = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29)
      });

      var input = (document.getElementById('autocomplete'));
      var autocomplete = new google.maps.places.Autocomplete(input);
      //autocomplete.bindTo('bounds', map);
      autocomplete.addListener("place_changed", function(){
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          window.alert("Autocomplete's returned place contains no geometry");
          return;
        }
        marker_autocomplete.setVisible(false);
        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        }else {
          map.setCenter(place.geometry.location);
          map.setZoom(17);  // Why 17? Because it looks good.
        }
        marker_autocomplete.setIcon(/** @type {google.maps.Icon} */({
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(35, 35)
        }));
        marker_autocomplete.setPosition(place.geometry.location);
        marker_autocomplete.setVisible(true);
        var start = new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng());
        calcRoute(start, itemCoord);
        //console.log();
      });
      var directionsService = new google.maps.DirectionsService();
      var directionsDisplay;
      directionsDisplay = new google.maps.DirectionsRenderer();
      function calcRoute(start, end) {
        //var start = new google.maps.LatLng(37.334818, -121.884886);
        //var end = new google.maps.LatLng(38.334818, -181.884886);
        //var end = new google.maps.LatLng(37.441883, -122.143019);


        var request = {
          origin: start,
          destination: end,
          travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          console.log(response);
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
            directionsDisplay.setMap(map);
          } else {
            alert("No hemos podido crear la ruta desde " + start.toUrlValue(6) + " a " + end.toUrlValue(6));
          }
        });
      }

    //alert(distance);
    </script>
    </div>


  </div>
</div>
<!-- =========================
    FOOTER SECTION
============================== -->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12">
				<p class="wow fadeInUp" data-wow-delay="0.6s">Copyright &copy; 2016 Hesperia de Venezuela

                    | By: <a rel="nofollow" href="https://hoteleshesperia.com.ve" >Hesperia Hotels & Resorts</a></p>

				<ul class="social-icon">
					<li><a href="#" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a></li>
					<li><a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a></li>
					<li><a href="#" class="fa fa-dribbble wow fadeInUp" data-wow-delay="1.6s"></a></li>
					<li><a href="#" class="fa fa-behance wow fadeInUp" data-wow-delay="1.9s"></a></li>
					<li><a href="#" class="fa fa-google-plus wow fadeInUp" data-wow-delay="2s"></a></li>
				</ul>

			</div>

		</div>
	</div>
</footer>


<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>


<!-- =========================
     SCRIPTS
============================== -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.parallax.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/custom.js"></script>

<script src="js/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.js"></script>
<script src="js/bootstrap-datepicker-master/js/locales/bootstrap-datepicker.es.js"></script>
<script src="js/jQuery.countdown-master/dist/jquery.countdown.js"></script>

<script src="js/principal.js"></script>
<script src="js/hoteles.js"></script>
</body>
</html>
