<h4>Instapago</h4>

	
	<!-- <form class="form-inline text-center" data-request="onDisponibilidad"> -->
	<form class="form text-center" data-request="onPay" data-request-flash>
        
		<div class="row">
			<div class="col-xs-12">   
				<div class="col-xs-6 col-md-6">
					<div class="form-group">
						<label for="NameCard">Nombre del tarjeta habiente</label>
						<div class="input-group">
							<input type="text" class="form-control" name="nombre_tarjeta" id="nombre_tarjeta" placeholder="Nombre del tarjeta habiente" required />
			                <span class="input-group-addon"><i class="fui-user"> </i> </span>
			            </div>
					</div>
				</div>     		
				<div class="col-xs-6 col-md-6">
					<div class="form-group">
						<label for="identificacion">Cédula | RIF | ID</label>
						<div class="input-group">
							<input type="number" class="form-control" name="identificacion" id="identificacion" placeholder="Numero de cédula | RIF | ID" required />
							<span class="input-group-addon"><i class="fui-info"></i></span>
						</div>
	                </div>
                </div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-8 col-md-8">
					<div class="form-group">
						<label for="numero_tarjeta">Número de Tarjeta</label>
						<div class="input-group">
							<input type="number" class="form-control" name="numero_tarjeta" id="numero_tarjeta" placeholder="Numero de tarjeta de crédito sin espacios ni separador" required />
							<span class="input-group-addon"><i class="fui-credit-card"></i></span>
						</div>
	                </div>
				</div>
				<div class="col-xs-4 col-md-4">
					<img src="plugins/hesperiaplugins/instapago/assets/img/accepted.png" class="img-responsive" alt="Tarjetas Aceptadas" />
				</div>
				
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-4 col-md-4">
					<div class="form-group">
						<label for="anio_expira">Año Expiracion</label>
							<input type="text" class="form-control" name="anio_expira" id="anio_expira" placeholder="AAAA" required maxlength="4" />
					</div>
				</div>
				<div class="col-xs-4 col-md-4">
					<div class="form-group">
						<label for="mes_expira">Mes Expiracion</label>
							<input type="text" class="form-control" name="mes_expira" id="mes_expira" placeholder="MM" required maxlength="2" />
					</div>
				</div>
				<div class="col-xs-4 col-md-4 pull-right">
					<div class="form-group">
	                	<label for="cvc">Código CV</label>
							<input type="password" class="form-control" name="cvc" id="cvc" placeholder="CVC" required  maxlength="3" />
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-primary">Pagar</button>
			</div>
		</div>

    </form>
